# Angelina Dubrule

## Research question/interests

**Does the population of the city that the property is located in have any affect on the affordablilty of a mortgage? If so, is this affect positive or negative?**

We can answer this question by averaging the affordability over the 17 year time span (1999-2016) for each row in the graph. Then we could compare this to the population ranking by removing all other columns. We can then combine the repeated data from the same city multiple times by averaging the repeated terms. Once there are only two columns, average affordability and rank, we can order the data by population rank and then plot the data in a graph to see if there are any trends.

**Which city in our dataset has the most affordable mortgage? Which city has the least?**

We can answer this question by averaging the affordability over the 17 year time span (1999-2016) for each row in the graph. Then we could compare this to each RegionName by removing all other columns. We can then combine the repeated data from the same city multiple times by averaging the repeated terms. Once there are only two columns, average affordability and Region Name, we can order the terms by lowest to hishest affordability. The first Region Name term will be the most affordable, and the last will be the least.

**Has the affordability of a mortgage changed over the 17 year period that the data was collected? If so, did affordability increase or decrease?**

We can answer this question by removing all data columns from the table except for the affordability calculation columns. Find the average for each quarter by finding the average for each column using all rows. There should now be only two rows, the date of data collecton and the average affordability. We can then plot a graph showing the average affordability over time, and see if there are any trends.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df = pd.read_csv("../data/raw/TieredAffordability_Mortgage.csv")

#Preliminary Data Processing
df.info()
df.head()
# set identifier "RegionID" as string
df['RegionID'] = df['RegionID'].astype('str')
# set categorical data
df['tier'] = df['tier'].astype('category')
df['RegionName'] = df['RegionName'].astype('category')

In [ ]:
# generate preview of entries with null values
if df.isnull().any(axis=None):
    print("\nPreview of data with null values:\nxxxxxxxxxxxxx")
    print(df[df.isnull().any(axis=1)].head(3))
    plt.show()

In [ ]:
# generate count statistics of duplicate entries
if len(df[df.duplicated()]) > 0:
    print("No. of duplicated entries: ", len(df[df.duplicated()]))
    print(df[df.duplicated(keep=False)].sort_values(by=list(df.columns)).head())
else:
    print("No duplicated entries found")

In [ ]:
#Exploratory Data Analysis Part 1
df1 = df
df1['Affordability(1999-2016)'] = (df['1999-06-30'] + df['1999-09-30'] + df['1999-12-31'] + df['2000-03-31'] + df['2000-06-30'] + df['2000-09-30'] + df['2000-12-31'] + df['2001-03-31'] + df['2001-06-30'] + df['2001-09-30'] + df['2001-12-31'] + df['2002-03-31'] + df['2002-06-30'] + df['2002-09-30'] + df['2002-12-31'] + df['2003-03-31'] + df['2003-06-30'] + df['2003-09-30'] + df['2003-12-31'] + df['2004-03-31'] + df['2004-06-30'] + df['2004-09-30'] + df['2004-12-31'] + df['2005-03-31'] + df['2005-06-30'] + df['2005-09-30'] + df['2005-12-31'] + df['2006-03-31'] + df['2006-06-30'] + df['2006-09-30'] + df['2006-12-31'] + df['2007-03-31'] + df['2007-06-30'] + df['2007-09-30'] + df['2007-12-31'] + df['2008-03-31'] + df['2008-06-30'] + df['2008-09-30'] + df['2008-12-31'] + df['2009-03-31'] + df['2009-06-30'] + df['2009-09-30'] + df['2009-12-31'] + df['2010-03-31'] + df['2010-06-30'] + df['2010-09-30'] + df['2010-12-31'] + df['2011-03-31'] + df['2011-06-30'] + df['2011-09-30'] + df['2011-12-31'] + df['2012-03-31'] + df['2012-06-30'] + df['2012-09-30'] + df['2012-12-31'] + df['2013-03-31'] + df['2013-06-30'] + df['2013-09-30'] + df['2013-12-31'] + df['2014-03-31'] + df['2014-06-30'] + df['2014-09-30'] + df['2014-12-31'] + df['2015-03-31'] + df['2015-06-30'] + df['2015-09-30'] + df['2015-12-31'] + df['2016-03-31'] + df['2016-06-30']) / 69
df1 = df1.drop(['1999-06-30','1999-09-30','1999-12-31','2000-03-31','2000-06-30','2000-09-30','2000-12-31','2001-03-31','2001-06-30','2001-09-30','2001-12-31','2002-03-31','2002-06-30','2002-09-30','2002-12-31','2003-03-31','2003-06-30','2003-09-30','2003-12-31','2004-03-31','2004-06-30','2004-09-30','2004-12-31','2005-03-31','2005-06-30','2005-09-30','2005-12-31','2006-03-31','2006-06-30','2006-09-30','2006-12-31','2007-03-31','2007-06-30','2007-09-30','2007-12-31','2008-03-31','2008-06-30','2008-09-30','2008-12-31','2009-03-31','2009-06-30','2009-09-30','2009-12-31','2010-03-31','2010-06-30','2010-09-30','2010-12-31','2011-03-31','2011-06-30','2011-09-30','2011-12-31','2012-03-31','2012-06-30','2012-09-30','2012-12-31','2013-03-31','2013-06-30','2013-09-30','2013-12-31','2014-03-31','2014-06-30','2014-09-30','2014-12-31','2015-03-31','2015-06-30','2015-09-30','2015-12-31','2016-03-31','2016-06-30'], axis=1)
df1 = df1.drop(['RegionID','tier'], axis=1)
df1 = df1.groupby("RegionName").mean().reset_index()
df1 = df1.dropna()
df1.head()

In [ ]:
#Exploratory Data Analysis Part 2
df2 = df
df2 = df2.drop(['RegionID','tier','PopRank','RegionName', 'Affordability(1999-2016)'], axis=1)
df2 = df2.describe()
df2 = df2.drop(['count', 'std', 'min', '25%', '50%', '75%', 'max'])
df2 = df2.transpose().reset_index()
df2 = df2.rename(columns={'index': 'Year', 'mean': 'Avg Mortgage Affordability'})
df2['Year'] = pd.to_datetime(df2['Year'])
df2 = df2.groupby(df2.Year.dt.year).mean().reset_index()
df2.head()

In [ ]:
#Export Processed Data
from pathlib import Path  

filepath = Path('../data/processed/affordability_by_year.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df2.to_csv(filepath) 

filepath = Path('../data/processed/affordability_by_location.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df1.to_csv(filepath)

In [ ]:
#Data Visualization 1

plt.plot(df2['Year'], df2['Avg Mortgage Affordability'])
plt.title("Mortgage Affordability (1999-2016)")
plt.xlabel("Year")
plt.ylabel("Mortgage Affordability")
plt.show()

In [ ]:
#Data Visualization 2

In [ ]:
#Data Visualization 3

In [ ]:
#Data Visualization 4